{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h3>Liste des personnes inscrites : modification des r么les</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>Email</th>
        <th>R么les</th>

        <th>Actions</th>
        </thead>
        <tbody>
        {# On boucle sur les utilisateurs #}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {# On boucle sur les r么les #}
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_EDITOR" %}
                            Editeur
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                {% if user.id == 1 %}
                    <p>r么le non modifiable</p>
                {% else %}

                <a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}">Modifier</a>
                {% endif %}
                </td>
            </tr>

        {% else %}
            <p>Aucun utilisateur inscrit</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}