<form method="post" action="{{ path('responsable_de_garde_delete', {'id': responsable_de_garde.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsable_de_garde.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
