<form method="post" action="{{ path('secteur_delete', {'id': secteur.id}) }}" onsubmit="return confirm('AEtes vous sûre de vouloir supprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
